# {{ ansible_managed }}

ALLOWED_HOSTS = {{ allowed_hosts }}

OPENSTACK_API_VERSIONS = {
    "identity": 3,
    "image": 2,
    "volume": 2,
}

OPENSTACK_KEYSTONE_MULTIDOMAIN_SUPPORT = {{ 'True' if (multidomain) else 'False' }}

OPENSTACK_KEYSTONE_DEFAULT_DOMAIN = "Default"

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '{{ keystone_fqdn }}:11211',
    },
}

OPENSTACK_HOST = "{{ keystone_fqdn }}"
OPENSTACK_KEYSTONE_URL = "http://%s:5000/v3" % OPENSTACK_HOST
OPENSTACK_KEYSTONE_DEFAULT_ROLE = "user"
